.flip-card {
  margin-left: 10%;
  position: relative;
  width: 70%;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
}

.flip-card-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

.assignment-item {
  display: flex;
  align-items: center;
}

.assignment-item input[type="checkbox"] {
  margin-right: 10px;
}

.margin {
  margin: 10px auto;
}

.margin-auto {
  margin: auto;
}

.height-auto {
  height: auto;
}
